examples/workflow-trigger/n8n-kit/workflows/workflow-trigger.json
{
	"active": false,
	"connections": {
		"When clicking ‘Test workflow’": {
			"main": [
				[{ "index": 0, "node": "call-reusable-workflow", "type": "main" }]
			]
		},
		"call-reusable-workflow": {
			"main": [[{ "index": 0, "node": "import-by-id", "type": "main" }]]
		},
		"import-by-id": {
			"main": [[{ "index": 0, "node": "log-result", "type": "main" }]]
		}
	},
	"id": "d9XK3wQxadKaQ",
	"name": "Workflow with trigger",
	"nodes": [
		{
			"id": "call-reusable-workflow",
			"name": "call-reusable-workflow",
			"parameters": {
				"source": "database",
				"workflowId": {
					"__rl": true,
					"cachedResultName": "Reusable workflow",
					"mode": "list",
					"value": "@vahor/n8n-resolved_workflow_id@qL2pzX8jc7NDe"
				},
				"workflowInputs": {
					"mappingMode": "defineBelow",
					"matchingColumns": [],
					"schema": [],
					"value": { "a": "hello", "b": 1, "c": 2, "d": "world" }
				}
			},
			"position": [260, 60],
			"type": "n8n-nodes-base.executeWorkflow",
			"typeVersion": 1.3
		},
		{
			"id": "import-by-id",
			"name": "import-by-id",
			"parameters": {
				"source": "database",
				"workflowId": {
					"__rl": true,
					"cachedResultName": "Untitled",
					"mode": "list",
					"value": "@vahor/n8n-resolved_workflow_id@qL2pzX8jc7NDe"
				},
				"workflowInputs": {
					"mappingMode": "defineBelow",
					"matchingColumns": [],
					"schema": [],
					"value": { "a": "={{ $json.hello }}" }
				}
			},
			"position": [460, 60],
			"type": "n8n-nodes-base.executeWorkflow",
			"typeVersion": 1.3
		},
		{
			"id": "log-result",
			"name": "log-result",
			"parameters": {
				"jsCode": "=console.log({{ $('call-reusable-workflow').item.json.hello }}, {{ $('import-by-id').item.json.something }})"
			},
			"position": [660, 60],
			"type": "n8n-nodes-base.code",
			"typeVersion": 2
		},
		{
			"id": "When clicking ‘Test workflow’",
			"name": "When clicking ‘Test workflow’",
			"position": [60, 60],
			"type": "n8n-nodes-base.manualTrigger",
			"typeVersion": 1
		}
	],
	"settings": {},
	"tags": [{ "name": "@vahor/n8n-d9XK3wQxadKaQ" }, { "name": "client-id" }]
}
