examples/code-http-anthropic/n8n-kit/workflows/my-workflow.json
{
	"active": true,
	"connections": {
		"generate-prompt": {
			"main": [[{ "index": 0, "node": "send-to-anthropic", "type": "main" }]]
		},
		"send-to-anthropic": {
			"main": [[{ "index": 0, "node": "format-output", "type": "main" }]]
		},
		"webhook": {
			"main": [
				[
					{ "index": 0, "node": "send-to-analytics", "type": "main" },
					{ "index": 0, "node": "generate-prompt", "type": "main" }
				]
			]
		}
	},
	"id": "iJFYtqyGWaroz",
	"name": "Webhook -> Analytics + Anthropic",
	"nodes": [
		{
			"id": "webhook",
			"name": "webhook",
			"parameters": {
				"httpMethod": "GET",
				"path": "path-to-webhook",
				"responseMode": "responseNode"
			},
			"position": [60, 180],
			"type": "n8n-nodes-base.webhook",
			"typeVersion": 2.1
		},
		{
			"credentials": { "httpCustomAuth": { "id": "hEQRwqdMuqRSHlXX" } },
			"disabled": true,
			"id": "send-to-analytics",
			"name": "send-to-analytics",
			"parameters": {
				"authentication": "genericCredentialType",
				"genericAuthType": "httpCustomAuth",
				"jsonBody": "={\n  \"events\": [\n    {\n      \"user_id\": \"{{ $('webhook').item.json.headers['cf-connecting-ip'] }}\",\n      \"event_type\": \"workflow_end\",\n      \"event_properties\": {\n        \"workflow_id\": \"{{ $workflow.id }}\"\n      }\n    }\n  ]\n}",
				"method": "POST",
				"sendBody": true,
				"specifyBody": "json",
				"url": "https://httpbin.org/post"
			},
			"position": [260, 60],
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2
		},
		{
			"id": "generate-prompt",
			"name": "generate-prompt",
			"parameters": {
				"language": "python",
				"mode": "runOnceForEachItem",
				"pythonCode": "def handler(input):\n    if(input[\"type\"] == \"type1\"):\n        return {\n            \"prompt\": f\"Reply as if you were a gangster.\"\n        }\n    if(input[\"type\"] == \"type2\"):\n        return {\n            \"prompt\": f\"Reply as if you were a pirate.\"\n        }\n\n    raise Exception(\"Invalid type\")\n\nreturn handler({\n  \"type\": _('webhook').item.json.query.type\n});"
			},
			"position": [260, 300],
			"type": "n8n-nodes-base.code",
			"typeVersion": 2
		},
		{
			"credentials": { "anthropicApi": { "id": "qtQFvIABHtrMfErE" } },
			"id": "send-to-anthropic",
			"name": "send-to-anthropic",
			"parameters": {
				"authentication": "predefinedCredentialType",
				"headerParameters": {
					"parameters": [{ "name": "anthropic-version", "value": "2023-06-01" }]
				},
				"jsonBody": "={\n  \"model\": \"claude-3-haiku-20240307\",\n  \"temperature\": 1,\n  \"max_tokens\": 200,\n  \"system\": [\n    {\n      \"text\": \"{{ $('generate-prompt').item.json.prompt }}\",\n      \"type\": \"text\"\n    }\n  ],\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('webhook').item.json.query.prompt }}\"\n    }\n  ]\n}",
				"method": "POST",
				"nodeCredentialType": "anthropicApi",
				"sendBody": true,
				"sendHeaders": true,
				"specifyBody": "json",
				"url": "https://api.anthropic.com/v1/messages"
			},
			"position": [460, 300],
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2
		},
		{
			"id": "format-output",
			"name": "format-output",
			"parameters": {
				"respondWith": "json",
				"responseBody": "={\"message\":{{ $('send-to-anthropic').item.json.content.find((item) => item.type === 'text').text.toJsonString() }}}"
			},
			"position": [660, 300],
			"type": "n8n-nodes-base.respondToWebhook",
			"typeVersion": 1.5
		}
	],
	"settings": {},
	"tags": [{ "name": "@vahor/n8n-iJFYtqyGWaroz" }]
}
