examples/weird-workflow/n8n-kit/workflows/weird-workflow.json
{
	"id": "IuNO-W5pw5tVI",
	"name": "Weird Workflow",
	"nodes": [
		{
			"id": "webhook",
			"name": "Webhook",
			"type": "n8n-nodes-base.webhook",
			"position": [60, 300],
			"typeVersion": 2.1,
			"parameters": {
				"httpMethod": "POST",
				"path": "abc",
				"responseMode": "responseNode"
			}
		},
		{
			"id": "check-valid-entity-id",
			"name": "check-valid-entity-id",
			"type": "n8n-nodes-base.if",
			"position": [420, 300],
			"typeVersion": 2.2,
			"parameters": {
				"conditions": {
					"conditions": [
						{
							"leftValue": "={{ $json.body.execution_type }}",
							"operator": {
								"type": "string",
								"operation": "exists",
								"singleValue": true
							},
							"id": "weird-workflow/check-valid-entity-id/0"
						}
					],
					"combinator": "and",
					"options": {
						"caseSensitive": false,
						"version": 2,
						"typeValidation": "strict"
					}
				}
			}
		},
		{
			"id": "invalid-entity-id",
			"name": "invalid-entity-id",
			"type": "n8n-nodes-base.noOp",
			"position": [780, 60],
			"typeVersion": 1
		},
		{
			"id": "check-valid-execution-type",
			"name": "check-valid-execution-type",
			"type": "n8n-nodes-base.if",
			"position": [780, 420],
			"typeVersion": 2.2,
			"parameters": {
				"conditions": {
					"conditions": [
						{
							"leftValue": "={{ $json.body.execution_type }}",
							"operator": {
								"type": "string",
								"operation": "exists",
								"singleValue": true
							},
							"id": "weird-workflow/check-valid-execution-type/0"
						}
					],
					"combinator": "and",
					"options": {
						"caseSensitive": false,
						"version": 2,
						"typeValidation": "strict"
					}
				}
			}
		},
		{
			"id": "invalid-entity-id-response",
			"name": "invalid-entity-id-response",
			"type": "n8n-nodes-base.respondToWebhook",
			"position": [1140, 60],
			"typeVersion": 1.5,
			"parameters": {
				"respondWith": "json",
				"responseBody": "{\"error\":\"Invalid entity id\",\"data\":{\"body\":\"{{ $json.body }}\"}}",
				"options": { "responseCode": 400 }
			}
		},
		{
			"id": "invalid-execution-type",
			"name": "invalid-execution-type",
			"type": "n8n-nodes-base.noOp",
			"position": [1140, 300],
			"typeVersion": 1
		},
		{
			"id": "nooo",
			"name": "nooo",
			"type": "n8n-nodes-base.noOp",
			"position": [1140, 540],
			"typeVersion": 1
		},
		{
			"id": "invalid-execution-type-response",
			"name": "invalid-execution-type-response",
			"type": "n8n-nodes-base.respondToWebhook",
			"position": [1500, 300],
			"typeVersion": 1.5,
			"parameters": {
				"respondWith": "json",
				"responseBody": "{\"error\":\"Invalid execution type\",\"data\":{\"body\":\"{{ $json.body }}\"}}",
				"options": { "responseCode": 400 }
			}
		},
		{
			"id": "2",
			"name": "2",
			"type": "n8n-nodes-base.noOp",
			"position": [1500, 540],
			"typeVersion": 1
		},
		{
			"id": "3",
			"name": "3",
			"type": "n8n-nodes-base.noOp",
			"position": [1860, 540],
			"typeVersion": 1
		},
		{
			"id": "invalid-entity-id-handle-error-message-group",
			"name": "invalid-entity-id-handle-error-message-group",
			"type": "n8n-nodes-base.stickyNote",
			"position": [720, 0],
			"typeVersion": 1,
			"parameters": {
				"content": "Handle error message",
				"color": 3,
				"width": 600,
				"height": 240
			}
		},
		{
			"id": "invalid-execution-type-handle-error-message-group",
			"name": "invalid-execution-type-handle-error-message-group",
			"type": "n8n-nodes-base.stickyNote",
			"position": [1080, 240],
			"typeVersion": 1,
			"parameters": {
				"content": "Handle error message",
				"color": 3,
				"width": 600,
				"height": 240
			}
		},
		{
			"id": "check-valid-execution-type-group",
			"name": "check-valid-execution-type-group",
			"type": "n8n-nodes-base.stickyNote",
			"position": [720, 240],
			"typeVersion": 1,
			"parameters": {
				"content": "Check valid execution type",
				"width": 960,
				"height": 360
			}
		}
	],
	"connections": {
		"2": { "main": [[{ "node": "3", "type": "main", "index": 0 }]] },
		"Webhook": {
			"main": [
				[{ "node": "check-valid-entity-id", "type": "main", "index": 0 }]
			]
		},
		"check-valid-entity-id": {
			"main": [
				[{ "node": "check-valid-execution-type", "type": "main", "index": 0 }],
				[{ "node": "invalid-entity-id", "type": "main", "index": 0 }]
			]
		},
		"invalid-entity-id": {
			"main": [
				[{ "node": "invalid-entity-id-response", "type": "main", "index": 0 }]
			]
		},
		"check-valid-execution-type": {
			"main": [
				[{ "node": "nooo", "type": "main", "index": 0 }],
				[{ "node": "invalid-execution-type", "type": "main", "index": 0 }]
			]
		},
		"invalid-execution-type": {
			"main": [
				[
					{
						"node": "invalid-execution-type-response",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"nooo": { "main": [[{ "node": "2", "type": "main", "index": 0 }]] }
	},
	"settings": {},
	"active": true,
	"tags": [{ "name": "@vahor/n8n-IuNO-W5pw5tVI" }]
}
