examples/multiple-sources/n8n-kit/workflows/my-workflow.json
{
	"id": "iJFYtqyGWaroz",
	"name": "RAG Workflow For Company Documents stored in Google Drive",
	"nodes": [
		{
			"id": "note",
			"name": "note",
			"type": "n8n-nodes-base.stickyNote",
			"position": [-540, 220],
			"typeVersion": 1,
			"parameters": {
				"content": "## Set up steps\n\n1. Google Cloud Project and Vertex AI API:\n* Create a Google Cloud project.\n* Enable the Vertex AI API for your project.\n2. Google AI API Key:\n* Obtain a Google AI API key from Google AI Studio.\n3. Pinecone Account:\n* Create a free account on the Pinecone website.\nObtain your API key from your Pinecone dashboard.\n* Create an index named company-files in your Pinecone project.\n4. Google Drive:\n* Create a dedicated folder in your Google Drive where company documents will be stored.\n5. Credentials in n8n: Configure credentials in your n8n environment for:\n* Google Drive OAuth2\n* Google Gemini(PaLM) Api (using your Google AI API key)\n* Pinecone API (using your Pinecone API key)\n5. Import the Workflow:\n* Import this workflow into your n8n instance.\n6. Configure the Workflow:\n* Update both Google Drive Trigger nodes to watch the specific folder you created in your Google Drive.\n* Configure the Pinecone Vector Store nodes to use your company-files index.",
				"height": 720,
				"width": 420,
				"color": 1
			}
		},
		{
			"id": "note-documents-to-vector-store",
			"name": "note-documents-to-vector-store",
			"type": "n8n-nodes-base.stickyNote",
			"position": [440, -240],
			"typeVersion": 1,
			"parameters": {
				"content": "## Add documents to vector store when updating or creating new documents in Google Drive",
				"width": 420,
				"color": 1
			}
		},
		{
			"id": "gdrive-file-created",
			"name": "Google Drive File Created",
			"type": "n8n-nodes-base.googleDriveTrigger",
			"position": [210, 1015],
			"typeVersion": 1,
			"parameters": {
				"event": "fileCreated",
				"triggerOn": "specificFolder",
				"options": {
					"fileType": "all"
				},
				"pollTimes": {
					"item": [
						{
							"mode": "everyMinute"
						}
					]
				},
				"folderToWatch": {
					"value": "1evDIoHePhjw_LgVFZXSZyK1sZm2GHp9W",
					"mode": "list"
				}
			},
			"credentials": {
				"googleDriveOAuth2Api": {
					"id": "some-id"
				}
			}
		},
		{
			"id": "gdrive-file-updated",
			"name": "Google Drive File Updated",
			"type": "n8n-nodes-base.googleDriveTrigger",
			"position": [210, 1245],
			"typeVersion": 1,
			"parameters": {
				"event": "fileUpdated",
				"triggerOn": "specificFolder",
				"pollTimes": {
					"item": [
						{
							"mode": "everyMinute"
						}
					]
				},
				"folderToWatch": {
					"value": "1evDIoHePhjw_LgVFZXSZyK1sZm2GHp9W",
					"mode": "list"
				}
			},
			"credentials": {
				"googleDriveOAuth2Api": {
					"id": "some-id"
				}
			}
		},
		{
			"id": "download-from-drive",
			"name": "Download File From Google Drive",
			"type": "n8n-nodes-base.googleDrive",
			"position": [555, 1130],
			"typeVersion": 3,
			"parameters": {
				"operation": "download",
				"fileId": {
					"mode": "id",
					"value": "={{ $json.id }}"
				},
				"options": {
					"fileName": "={{ $json.name }}"
				}
			},
			"credentials": {
				"googleDriveOAuth2Api": {
					"id": "some-id"
				}
			}
		},
		{
			"id": "upload-to-pinecone",
			"name": "Pinecone Vector Store",
			"type": "n8n-nodes-base.noOp",
			"position": [745, 1130],
			"typeVersion": 1,
			"parameters": {}
		},
		{
			"id": "note-chat-to-ai-agent",
			"name": "note-chat-to-ai-agent",
			"type": "n8n-nodes-base.stickyNote",
			"position": [420, 660],
			"typeVersion": 1,
			"parameters": {
				"content": "## Chat with company documents",
				"color": 1
			}
		},
		{
			"id": "chat-message-received",
			"name": "When chat message received",
			"type": "n8n-nodes-base.noOp",
			"position": [210, 1595],
			"typeVersion": 1,
			"parameters": {}
		},
		{
			"id": "ai-agent",
			"name": "AI Agent",
			"type": "n8n-nodes-base.noOp",
			"position": [555, 1595],
			"typeVersion": 1,
			"parameters": {}
		}
	],
	"connections": {
		"Google Drive File Created": {
			"main": [
				[
					{
						"node": "Download File From Google Drive",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Google Drive File Updated": {
			"main": [
				[
					{
						"node": "Download File From Google Drive",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Download File From Google Drive": {
			"main": [
				[
					{
						"node": "Pinecone Vector Store",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"When chat message received": {
			"main": [
				[
					{
						"node": "AI Agent",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"settings": {},
	"staticData": {},
	"active": true,
	"tags": [
		{
			"name": "@vahor/n8n-iJFYtqyGWaroz"
		}
	]
}
