examples/workflow-trigger/expected.json
{
	"name": "My workflow",
	"nodes": [
		{
			"parameters": {
				"rule": {
					"interval": [
						{
							"field": "weeks",
							"triggerAtDay": [1],
							"triggerAtHour": 9
						}
					]
				}
			},
			"type": "n8n-nodes-base.scheduleTrigger",
			"typeVersion": 1.2,
			"position": [48, 160],
			"id": "48cb071d-dab5-47b6-9d1a-7f8624eee6af",
			"name": "Schedule Trigger"
		},
		{
			"parameters": {
				"resource": "donkiSolarFlare",
				"additionalFields": {
					"startDate": "={{ $today.minus(7, 'days') }}"
				}
			},
			"type": "n8n-nodes-base.nasa",
			"typeVersion": 1,
			"position": [272, 160],
			"id": "655067c6-e089-4313-8212-04a81f9a2e6e",
			"name": "NASA"
		},
		{
			"parameters": {
				"conditions": {
					"options": {
						"caseSensitive": true,
						"leftValue": "",
						"typeValidation": "strict",
						"version": 2
					},
					"conditions": [
						{
							"id": "2f469c8e-12b3-4ee5-95fc-ff81508d0b43",
							"leftValue": "={{ $json.classType }}",
							"rightValue": "C",
							"operator": {
								"type": "string",
								"operation": "contains"
							}
						}
					],
					"combinator": "and"
				},
				"options": {}
			},
			"type": "n8n-nodes-base.if",
			"typeVersion": 2.2,
			"position": [480, 160],
			"id": "073561ca-e846-4543-b65d-f20cc9cc7cd0",
			"name": "If"
		},
		{
			"parameters": {
				"resource": "request",
				"operation": "send",
				"binId": "1741914338605-0907339996192",
				"binContent": "=There was a solar flare of class {{$json[\"classType\"]}}",
				"requestOptions": {}
			},
			"type": "n8n-nodes-base.postBin",
			"typeVersion": 1,
			"position": [704, 64],
			"id": "20b84af7-e0b7-444e-8921-429ec46de1aa",
			"name": "PostBin(true)"
		},
		{
			"parameters": {
				"resource": "request",
				"operation": "send",
				"binId": "1741914338605-0907339996192",
				"binContent": "=There was a solar flare of class {{$json[\"classType\"]}}",
				"requestOptions": {}
			},
			"type": "n8n-nodes-base.postBin",
			"typeVersion": 1,
			"position": [704, 272],
			"id": "96270bfc-ed93-4efa-a19f-b06c3d471527",
			"name": "PostBin(false)"
		},
		{
			"parameters": {
				"content": "## Setup required\n\nYou need to create a NASA account and create credentials, and create a bin with Postbin and enter the ID - see [the documentation](https://docs.n8n.io/try-it-out/longer-introduction/)",
				"height": 120,
				"width": 600
			},
			"type": "n8n-nodes-base.stickyNote",
			"typeVersion": 1,
			"position": [0, 0],
			"id": "f8232759-6496-4805-99a3-db17bf39c5c3",
			"name": "Sticky Note"
		}
	],
	"pinData": {},
	"connections": {
		"Schedule Trigger": {
			"main": [
				[
					{
						"node": "NASA",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"NASA": {
			"main": [
				[
					{
						"node": "If",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"If": {
			"main": [
				[
					{
						"node": "PostBin(true)",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "PostBin(false)",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"active": false,
	"settings": {
		"executionOrder": "v1"
	},
	"versionId": "1a04d4f9-170a-41b5-a58b-8a1946b80d68",
	"meta": {
		"instanceId": "047737668d3f4bcd0cb91cbb831b6db66f550df3a7a6a18202d19997b1b8b6ea"
	},
	"id": "kWLYUUoxodLRnZCL",
	"tags": [
		{
			"name": "tag1",
			"id": "mNUgX9w1lBxY4Eh1",
			"createdAt": "2025-08-18T19:01:53.505Z",
			"updatedAt": "2025-08-18T19:01:53.505Z"
		},
		{
			"name": "tag2",
			"id": "mvN6HXDUrMuFrX3h",
			"createdAt": "2025-08-18T19:01:55.064Z",
			"updatedAt": "2025-08-18T19:01:55.064Z"
		}
	]
}
