examples/nasa/n8n-kit/workflows/my-workflow.json
{
	"id": "iJFYtqyGWaroz",
	"name": "NASA Example",
	"nodes": [
		{
			"id": "note",
			"name": "note",
			"type": "n8n-nodes-base.stickyNote",
			"position": [0, 0],
			"typeVersion": 1,
			"parameters": {
				"content": "## Setup required\n\nYou need to create a NASA account and create credentials, and create a bin with Postbin and enter the ID - see [the documentation](https://docs.n8n.io/try-it-out/longer-introduction/)",
				"height": 120,
				"width": 600
			}
		},
		{
			"id": "schedule-trigger",
			"name": "Schedule trigger",
			"type": "n8n-nodes-base.scheduleTrigger",
			"position": [300, 295],
			"typeVersion": 1.2,
			"parameters": {
				"rule": {
					"interval": [
						{
							"field": "weeks",
							"triggerAtDay": [1],
							"triggerAtHour": 9,
							"weeksInterval": 1
						}
					]
				}
			}
		},
		{
			"id": "nasa",
			"name": "nasa",
			"type": "n8n-nodes-base.nasa",
			"position": [735, 295],
			"typeVersion": 1,
			"parameters": {
				"resource": "donkiSolarFlare",
				"additionalFields": { "startDate": "={{ $today.minus(1, 'day') }}" }
			},
			"credentials": { "nasaApi": { "id": "yTwI5ccVwfGll1Kf" } }
		},
		{
			"id": "if",
			"name": "if",
			"type": "n8n-nodes-base.if",
			"position": [925, 295],
			"typeVersion": 2.2,
			"parameters": {
				"conditions": {
					"conditions": [
						{
							"operator": {
								"type": "string",
								"operation": "contains",
								"singleValue": false
							},
							"leftValue": "={{ $json.classType }}",
							"rightValue": "C",
							"id": "my-workflow/if/0"
						}
					],
					"combinator": "and",
					"options": {
						"caseSensitive": true,
						"version": 2,
						"typeValidation": "strict"
					}
				}
			}
		},
		{
			"id": "PostBin(true)",
			"name": "PostBin(true)",
			"type": "n8n-nodes-base.postBin",
			"position": [1115, 180],
			"typeVersion": 1,
			"parameters": {
				"resource": "request",
				"binId": "1741914338605-0907339996192",
				"binContent": "=There was a solar flare of class {{ $json.classType }}",
				"operation": "send"
			}
		},
		{
			"id": "PostBin(false)",
			"name": "PostBin(false)",
			"type": "n8n-nodes-base.postBin",
			"position": [1115, 410],
			"typeVersion": 1,
			"parameters": {
				"resource": "request",
				"binId": "1741914338605-0907339996192",
				"binContent": "=There was a solar flare of class {{ $json.classType }}",
				"operation": "send"
			}
		}
	],
	"connections": {
		"Schedule trigger": {
			"main": [[{ "node": "nasa", "type": "main", "index": 0 }]]
		},
		"nasa": { "main": [[{ "node": "if", "type": "main", "index": 0 }]] },
		"if": {
			"main": [
				[{ "node": "PostBin(true)", "type": "main", "index": 0 }],
				[{ "node": "PostBin(false)", "type": "main", "index": 0 }]
			]
		}
	},
	"settings": {},
	"staticData": {},
	"active": true,
	"tags": [{ "name": "@vahor/n8n-iJFYtqyGWaroz" }]
}
